body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 18px;
}

p {
	color: #323232;
	font-size: 16px;
	font-style: italic;
	padding-bottom: 20px;
	padding-right: 10px;
	text-align: right;
}

#title {
	max-width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

input {
	width: 300px;
	height: 25px;
	border-radius: 5px;
	border: 2px solid #FFC042;
	text-align: center;
	margin-right: 0 auto;
	font-size: 16px;
	margin-bottom: 20px;
	box-shadow: none;
}

input:focus {
	outline: none;
	border: solid 2px #ff9842;
}

div.fieldset {
	text-align: center;
}

hr {
	max-width: 80%;
	position: relative;
}

.checkbox {
	background-image: url(../images/checkbox-orange.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	margin-top: 5px;
	margin-right: 10px;
	float: left;
}

.completed {
	text-decoration: line-through;
	color: #666666;
}

.checked {
	background-image: url(../images/checked-orange.png);
	height: 19px;
	width: 19px;
	background-size: contain;
	margin-right: 10px;
	background-repeat: no-repeat;	
	display: inline-block;
}

.items {
	text-align: center;
	margin-bottom: 20px;
	display: block;
}

.delete {
	width: 20px;
	height: 20px;
	position: relative;
	float: right;
	padding-right: 25px;
}

.container {
	width: 600px;
	margin: 0 auto;
	background-color: #FFFCF5;
	border-radius: 6px;
	border: dashed 1px #FFC042;
}

.list {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
}

.todoitem {
	font-size: 24px;
}

/*removed the button
button {
	background-color: #289999;
	color: #fff;
	border: 1px solid #fff;
	width: 25px;
	height: 25px;
	font-size: 18px;
	box-shadow: none;
	border-radius: 5px;
}

button:focus {
	outline: none;
	border: solid 1px #207a7a;
}

button:hover {
	width: 27px;
	height: 27px;
} */
